@use '~@angular/material' as mat;

@include mat.core();

$dark-background: mat.get-color-from-palette(mat.$grey-palette, 700);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$blue-grey-palette, 600),
      accent: mat.define-palette(mat.$blue-grey-palette, 400),
      warn: mat.define-palette(mat.$red-palette, 400),
    ),
  )
);
