/* You can add global styles to this file, and also import other style files */

@use '~@angular/material' as mat;

@use './themes/light-theme.definition.scss' as light;
@use './themes/dark-grey-theme.definition.scss' as dark;
@use './themes/green-theme.definition.scss' as green-theme;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  .logo {
    width: 32px;
    background-image: url("assets/cellphone-basic.svg");
    background-size: cover;
  }
}

@include mat.all-component-themes(light.$light-theme);

.grey-dark-theme {
  background: dark.$dark-background;
  @include mat.all-component-themes(dark.$dark-theme);

  .logo {
    width: 32px;
    background: url("assets/file-document.svg");
    background-size: cover;
  }
}

.green-theme {
  background: green-theme.$green-background;
  @include mat.all-component-themes(green-theme.$green-theme);

  .logo {
    width: 32px;
    background: url("assets/home-floor-a.svg");
    background-size: cover;
  }
}
